*{
    margin: 0;
    padding: 0;
}
@import url(http://allfont.ru/allfont.css?fonts=lucida-sans-unicode);
body{
    background: #ffffff;
}
.wrapper{
    margin: 0 auto;
    width: 908px;
}
.topheader{
    margin: 10px auto;
}
.contacts li{
    float: left;
    padding: 5px 0 5px 4px;
    font-size: 19px;
    font-family: Arial, Tahoma sans-serif;
}
form{
    background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%);
    border-top: 1px solid #a6c3cf;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 1px rgba(119, 119, 119, 0.64);
    float: left;
    height: 17px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 3px 10px 5px 25px;
    position: relative;
}
form input{
    width: 113px;
}
form img{
    position: absolute;
    top: 4px;
    left: 7px;
}
form a{
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Lucida Sans Unicode', arial;
}
form a:last-child{
    font-size: 12px;
    text-decoration: underline;
    padding-left: 20px;
}
.map{
    border: 1px #d3d8da solid;
    border-radius: 70px;
    height: 19px;
    position: relative;
    overflow: hidden;
    width: 75px;
}
.map li{
    float: left;
    list-style: none;
    padding-left: 9px;
    padding-top: 3px;
    width: 10px;
}
.map a{
    background: url(../img/sprintmap.png) 0 0 no-repeat;
    display: block;
    height: 12px;
    width: 14px;
}
.map .sitemap{
    background-position: -14px 0;
}
.map .letter{
    background-position: -30px 0;
    width: 18px;
}
.topmenu{
   background: -webkit-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 9%, rgba(1,1,1,1) 100%);
   border-bottom: 1px #0a1030 solid;
   border-left: 1px #181e32 solid;
   border-radius: 5px;
   border-right: 1px #0d1642 solid;
   border-top: 1px #2c345a solid;
   box-shadow: 3px 4px 12px -1px rgba(10,16,48,1);
   margin-top: 5px;
   height: 32px;
   position: relative;
}
nav{
    float: left;
    margin-left: 128px;
    margin-right: 59px;
}
nav a{
    color: #b1bcc0;
    display: block;
    float: left;
    font-family: 'Lucida Sans Unicode', arial;
    font-size: 14px;
    margin-top: 4px;
    margin-right: -10px;
    padding: 5px 18px 5px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    background: -webkit-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(9,35,59,1) 100%);
    border-radius: 90px;
    color: #e9ecef;
}
.basket{
    position: relative;
    margin-top: 6px;
}
.basket li{
    color: #868e92;
    float: left;
    font-family: Arial, Tahoma sans-serif;
    font-size: 11px;
    padding-right: 14px;
    padding-top: 3px;
}
.basket li:first-child{
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 0px;
}
.basket span{
    color: #0d5a8f;
    font-size: 12px
}
.basketsum{
    padding-left: 7px;
}
.search-box{
    margin-top: 10px;
}
.search-disk-header,
.search-tires-header{
    color: #154467;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 10px;
}
.search-tires-header{
   float: right;
}
.search-for-car form{
    background: #ffffff;
    border: 1px #9c9c9d solid;
    border-radius: 15px;
    height: 123px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 4px;
    position: relative;
    width: 385px;
}
.car-disk{
    float: left;
    display: block;
    margin-bottom: 5px;
}
.search-for-car-header{
    left: 130px;
    color: #154467;
    font-weight: bold;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12px;
    position: absolute;
}
form select{
    border: 1px #9f9f9f solid;
    border-bottom: none;
    width: 100px;
    color: #0c3256;
}
.car-first-style{
    clear: both;
    display: block;
    font-family: Arial, Tahoma sans-serif;
    font-size: 10px;
    font-weight: bold;
    float: left;
    margin-right: 4px;
    text-align: left;
    padding-top: 4px;
}
.car-second-style{
    color: #77858b;
    font-family: Arial, Tahoma sans-serif;
    font-size: 10px;
    display: block;
    float: left;
}
.brand-car .car-second-style{
    padding-top: 4px;
}
.year-made-car select{
    width: 55px;
}
.brand-car,
.model-car,
.year-made-car,
.accessories-car{
    margin-bottom: 6px;
    text-align: right;
}
.car-tire{
    display: block;
    float: right;
    
}
.search-button-car{
    background: #ffffff;
    border: none;
    border-bottom: 1px #99a6b3 solid;
    color: #154467;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-top: -5px;
    margin-right: 8px;
}
.search-for-tire form{
    background: #ffffff;
    border: 1px #9c9c9d solid;
    border-radius: 15px;
    float: left;
    height: 123px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 4px;
    position: relative;
    width: 160px;
}
.search-tire-header{
    color: #154467;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12px;
}
.tire-search-style{
    font-family: 'Lucida Sans Unicode', arial;
    font-size: 10px;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    padding-top: 4px;
    
}
.search-for-tire select{
    width: 50px;
    float: left;
}
.tire-radius{
    clear: both;
    margin-left: 32px;
    margin-top: 23px;
    
}
.tire-season{
    clear: both;
}
.check-box{
    float: left;
    margin-top: 5px;
}
.tire-season input{
    width: auto;
}
.tire-season ul{
    margin-left: 45px;
    padding-top: 4px;
}
.tire-season label{
    font-family: 'Lucida Sans Unicode', arial;
    font-size: 12px;
    height: 13px;
}
.search-for-disk form{
    background: #ffffff;
    border: 1px #9c9c9d solid;
    border-radius: 15px;
    float: left;
    height: 123px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 4px;
    position: relative;
    width: 265px;
}
.search-disk-header{
    display: block;
    color: #154467;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12px;
}
.search-for-disk select{
    color: #000000;
    font-family: Arial,Tahoma sans-serif;
    width: 55px;
}
.search-disk-left-col{
    border-right: 1px #bdc6ca solid;
    float: left;
    padding-right: 12px;
}
.search-disk-right-col{
    float: right;
}

.disk-first-style{
    font-family: 'Lucida Sans Unicode', arial;
    font-size: 10px;
    float: left;
    margin-right: 4px;
}
.disk-second-style{
    color: #77858b;
    font-family: Arial, Tahoma sans-serif;
    font-size: 9px;
    display: block;
    float: left;
}